# For web scraping
requests
# For web scraping
beautifulsoup4
# For mysql connection
pymysql
# For database
SQLAlchemy
# For mysql connection
mysql-connector-python
# For text color change
colorama
# For symbolic mathematics
sympy
# For read .env file
python-dotenv
fastapi==0.68.0  # 必要なバージョンに変更して
uvicorn==0.15.0  # uvicornも入れてね
